mol.tar.gz
mol
gfallvac08oct17.dat
gfpred29dec2014.bin
gfpred26apr2018.bin
schwenke.bin
lowobsat12.bin
gfall29dec2014.bin
diatomicspacksrt.bin
hilines.bin
h2ofastfix.bin
h2opokazatel.bin
mol/caoh_oyt6_super.bin
# NLTE runtime grids: hundreds of MB each, rebuilt from the master stores in
# ~/kurucz/nlte_grids/ (see data/nlte/README.txt), so never committed --
# nor any tarball made of them for shipping to a cluster.
nlte/*.nlte
nlte*.tar.gz
